<a href="https://colab.research.google.com/github/supportvectors/data-wrangling-datasets/blob/main/DW_health_and_wealth_of_nations_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework: Health and Wealth of Nations Dataset

In this homework exercise we will be creating a dataset to mimic the landmark gapminder "Health and Wealth of Nations" visualization.

 https://www.gapminder.org/tools/#$chart-type=bubbles&url=v1 

We encourage you to visit the website and study the visualization. What are the different variables/features used to create this visualization? Enter the features corresponding to each dimension of the visualization.

In [1]:
# What does each bubble represent? 

# x-axis : 
# y-axis : 
# bubble color: 
# bubble size: 
# slider :

To create a similar visualization we require a dataset with all these 6  features.
1. Country, Income, Life Expectancy, Population, Continent, Year 

 On the Gapminder website, the dataset required to make this visualization is stored in three separate files. We've downloaded them to our SupportVectors repository for access. 

The csv files are:

1. Income: `income_per_person_gdppercapita_ppp_inflation_adjusted.csv`
2. Population: `population_total.csv`
3. Life expectancy: `life_expectancy_years.csv`

Run the cell below to import the necessary libraries. To source the csv files from the SupportVectors GitHub repository use `sv_rep_path + 'filename.csv'`

In [2]:
import pandas as pd
import numpy as np
import altair as alt

# paths to the most commonly used dataset repositories for this lab

# path to SupportVectors data-wrangling-datasets repository
sv_rep_path = 'https://raw.githubusercontent.com/supportvectors/data-wrangling-datasets/main/'

## Income dataset

Load the 'income_per_person_gdppercapita_ppp_inflation_adjusted.csv' into a dataframe. (Preferably named `income_df`)

In [3]:
# FREE DATA FROM WORLD BANK VIA GAPMINDER.ORG, CC-BY LICENSE

# load the dataset

### Explore the dataset
In this section we will explore `income_df`. Create a cell for each of the items.

1. Shape
2. Head
3. Tail
4. Datatype of the columns
5. Describe  **all** the features

In [4]:
# shape

In [5]:
# head

In [6]:
# tail

In [7]:
# datatpes of the columns

In [8]:
# describe all the features

Answer the questions below from your understanding of the dataset.

In [9]:
# What is the number countries in the dataset?

# What is the range of years for which the income is recorded?

# Are all the income columns of the same datatype? if no, why?

# Is this a tidy dataset?

### String Manipulation

For the visualization to work, we must convert income values of object type to integer. For example: `2.2k` to `2200`. We will follow these steps for this conversion.

1. replace `k`(thousands), `M` (Millions), `B` (Billions) by their corresponding `scientific notation`. For example `2.2k` becomes `2.2*1e3`
2. map the string values to the evaluated parsed string values using the function `pd.eval`. For example `2.2*1e3` is evaluated as a python expression to get `2200` (Look up the documentation for `eval` or `pd.eval`)

You may want to use the dictionary `replace_dict` while using the `.replace()` method. (We've used scientific e notation, feel free to change it up). 

Refer to the `String Manipulation` notebook if you get stuck.

#### Replace

In [10]:


replace_dict = {'[kK]': '*1e3',
             '[mM]': '*1e6',
             '[bB]': '*1e9', 
            }
# apply the replace method here

# make sure not to make replacements in the `country` column


# view the head of dataframe

#### Evaluate using pd.eval()

Iterate through the income columns in the dataframe and map values of each column to the function pd.eval

`.pd.eval` documentation: https://pandas.pydata.org/docs/reference/api/pandas.eval.html

`.map` documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.map.html

In [11]:
# iterate through each column

  # map values of each column to the function pd.eval

### Convert Datatypes

Check the datatypes of all columns. If they are different, convert to integer datatype

In [12]:
# convert object datatypes to integer

### Tidying up
Melt the dataframe to contain three columns: {`country`, `year`, `income`}

In [13]:
# melt income_df

### Missing values
Are there any missing values in the income column? If there are, Let's drop those rows.

In [14]:
# Drop rows with missing values in income column

## Population dataset

Let's follow the same procedures as the income dataset. Load the `'population_total.csv'` file from the SupportVectors GitHub repository as a dataframe (preferably `pop_df`).

In [15]:
# FREE DATA FROM WORLD BANK VIA GAPMINDER.ORG, CC-BY LICENSE

# load the dataset

### Explore the dataset
In this section we will explore `income_df`. Create a cell for each of the items.

1. Shape
2. Head
3. Tail
4. Datatype of the columns
5. Describe  **all** the features

In [16]:
# shape

In [17]:
# head

In [18]:
# tail

In [19]:
# datatype of the columns

In [20]:
# describe all the features

Answer the questions below from your understanding of the dataset.

In [21]:
# What is the number countries in the dataset?

# What is the range of years for which the population is recorded/projected?

# Are all the population columns of the same datatype? are they all numeric?

# Is this a tidy dataset?

We observe that the years for which the population is recorded/projected does not match our income dataset. Select the largest subset of the `pop_df` that overlaps with `income_df`

In [22]:
# subset of pop_df

### String Manipulation

We will follow the same steps we did for `income_df` to convert all values to numeric datatype. You may want to use th `repl_dict` for the replace method.

In [23]:
repl_dict = {'[kK]': '*1e3',
             '[mM]': '*1e6',
             '[bB]': '*1e9', 
            }
# apply the replace method here

# make sure not to make replacements in the `country` column



# iterate through each column

  # map values of each column to the function pd.eval


# view the head of the dataframe

### Tidying up
Melt the dataframe to contain three columns: {`country`, `year`, `pop`}

In [24]:
# melt pop_df

### Missing values
Are there any missing values in the pop column? If there are, Let's drop those rows.

In [25]:
# drop rows with missing values in the pop column

## Life Expectancy

Let's follow the same procedures as the income dataset. Load the `'life_expectancy_years.csv'` file from the SupportVectors GitHub repository as a dataframe (preferably `lifExp_df`).

In [26]:
# FREE DATA FROM WORLD BANK VIA GAPMINDER.ORG, CC-BY LICENSE

# load the dataset

                country  1800  1801  1802  1803  ...  2096  2097  2098  2099  2100
0           Afghanistan  28.2  28.2  28.2  28.2  ...  76.2  76.4  76.5  76.6  76.8
1                Angola  27.0  27.0  27.0  27.0  ...  79.5  79.6  79.7  79.9  80.0
2               Albania  35.4  35.4  35.4  35.4  ...  87.9  88.0  88.2  88.3  88.4
3               Andorra   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
4  United Arab Emirates  30.7  30.7  30.7  30.7  ...  82.9  83.0  83.1  83.2  83.3

[5 rows x 302 columns]

### Explore the dataset
In this section we will explore `lifExp_df`. Create a cell for each of the items.

1. Shape
2. Head
3. Tail
4. Datatype of the columns
5. Describe  **all** the features

In [27]:
# shape

In [28]:
# head

In [29]:
# tail

In [30]:
# datatype of the columns

In [31]:
# describe all the features

We observe that the years for which the life expectancy is recorded/projected does not match our income dataset. Select the largest subset of the `lifExp_df` that overlaps with `income_df` and `pop_df`

In [32]:
# subset of pop_df

### Tidying up
Melt the dataframe to contain three columns: {`country`, `year`, `lifExp`}

In [33]:
# melt lifExp_df

## Missing values

Are there any missing values in the pop column? If there are, Let's drop those rows.

In [34]:
# drop rows with missing values in income column

## Merge Income, Population and Life Expectancy dataframes

Perform an `inner` merge, joining all three datasets and store it as `gapminder_df`. Note that only the countries common to all three datasets will be merged (which is precisely what we want)

Your dataframe should contain these columns {`country`, `year`, `income`, `pop`, `lifExp`}

In [35]:
# merge income_df, pop_df and lifExp_df

## Continents dataset
The `continents.csv` file maps each country in our dataset to their respective continents. 

Load the `continents.csv` from the SupportVectors repository as a dataframe (preferable `continents_df`)

In [36]:
# load the dataset

## Merge continents_df

Merge the `gapminder_df` with `continents_df` on `country`. Note that `Country` is capitalized in the  `continents_df` which you can drop in the merged dataframe.

In [37]:
# merge continents_df and gapminder_df

In [38]:
# drop 'Country' column

### Convert Datatypes
At this point your dataframe should contain these columns {`country`, `year`, `income`, `pop`, `lifExp`, `Continent`}
Make sure that `year`, `income`, `pop`, `lifExp` are of numeric datatype before proceeding

In [39]:
# check datatypes

## Visualization

Create a new variable called `data` and assign your dataframe to it...

And that's all folks! If your dataset is clean and tidy (with the correct column names), when you run the cell below an interactive chart will be produced! 

The Chart is produced using the `altair` library which you can install using pip: `pip install altair`.

In [40]:
data = gapminder_df

NameError: ignored

In [ ]:
import altair as alt
import numpy as np
alt.data_transformers.disable_max_rows()

# create years list
years_list = np.arange(1800, 2050, 1)

slider = alt.binding_range(name='Year:', 
                           min=1800, 
                           max=2050, 
                           step=1
                          )
selector = alt.selection_single(name="SelectorName", 
                                fields=['year'],
                                bind=slider,
                                init={"year": 1800}
                               )
pop_min = data['pop'].min()
pop_max = data['pop'].max()


chart = (alt
    .Chart(data)
    .mark_circle(opacity=0.8, 
                 stroke='white',                                  # add stroke
                 strokeWidth=1,                                   # add strokeWidth
                )
    .encode(
            alt.X(
                'income:Q',
                title=r"Income(GDP per capita)",                  
                scale=alt.Scale(type='log', 
                                base=2,
                                domain=[100,100000],              # set x-axis limits
                               )
            ),
            alt.Y('lifExp:Q',
                  title=r"Life Expectancy in years",
                  scale=alt.Scale(
                                  domain=[10,90],                 # set y-axis limits
                                 )
                 ),
            size=alt.Size('pop:Q', 
                          scale=alt.Scale(domain=[pop_min,        
                                                  pop_max], 
                                          range=[2,10000],
                                         ), 
                          legend=None,                            
                         ),
            color= alt.Color('Continent:N'),
            tooltip=[alt.Tooltip('country',
                                 title="Country"                  
                                ), 
                     alt.Tooltip('pop', 
                                 format=",",                      
                                 title="Population",              
                                )
                    ],
    )
    .properties(width=700, 
                height=400,
                title="Wealth of nations"                       
               )
    .add_selection(selector)
    .transform_filter(selector)
)

chart

And that's all folks! 

Congrats on successfully completing this homework exercise. This was a seemingly daunting task for we used many techniques we learnt in the labs. There are multiple ways to clean the same dataset and we will discuss one such solution to this exercise in an upcoming session.